// ----- dimensions -----

$navHeight: 100px; //navbar height
$gap: 36px; //grid item margins
$rad: 18px; //border radius

// ----- colors -----

$colorOrange: #FF7121;
$colorDarkBlue: #00106B;
$colorRed: #A41533;

$colorGreen: #58A16D;
$colorBlue: #386C81;
$colorLightBlue: #7EB0AF;

$colorBackdrop: #f2f2f2;
$colorGray1: #E0E0E0;
$colorGray2: #B7B7B7;
$colorGray3: #666666;
$colorGray4: #2F2F2F;

$colorDarkMid: #212225;
$colorDarkLight: #2A2B2E;

// ----- timing -----

$animationSpeed: 300ms;
$pageTransitionSpeed: 800ms;

// ----- effects -----

$softShadow: 0px 6px 12px 6px #00000022;
$softerShadow: 0px 12px 32px 6px rgba(black, 0.05);

// ----- scrollbar -----

::-webkit-scrollbar {
  width: 32px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

::-webkit-scrollbar-thumb {
  border: 12px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.2);
}

.dark-mode::-webkit-scrollbar-thumb {
  background: #ffffff44 !important;
  border-radius: 24px;
}

// ----- animations -----

@keyframes flyin {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes flyup {
    from {
        opacity: 0;
        //transform: scale(0.9);
        transform: translateY(24px); 
    }
    to {
        opacity: 1;
        //transform: scale(1);
        transform: translateY(0px);
    }
}

@keyframes flyleft {
    from {
        opacity: 0;
        transform: translate(360px, 0px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes spinin {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    to {
        opacity: 1;
        transform: translate(180deg);
    }
}

@keyframes wave {
    from {
        background-position-x: 0vw;
    }
    to {
        background-position-x: 40vw;
    }
}

@keyframes line-animate {
    to {
        stroke-dashoffset: 0;
    }
  }
  
  @keyframes fill {
    from {
      fill: transparent;
    }
    to {
      fill: #000000;
    }
  }
  
  @keyframes rise {
    from {
      opacity: 0;
      transform: translateY(24px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes grow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes expand {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 350px;
  }
}

@keyframes expand2 {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 5 50px;
  }
}

@keyframes grow-v {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 460px;
    opacity: 1;
  }
}